<%= "婚姻届" %>
<%= form_for(@marrige) do |f| %>
  <div class="send_date">
    <%= f.date_field %>
  </div>
  <div class="acceptance_date">
    <%= f.date_field %>
  </div>

  <div class="full_name">
    <div id="first_name_man">
      <%= f.label :first_name_man %>
      <%= f.text_field %>
    </div>
    <div id="last_name_man">
      <%= f.label :last_name_man %>
      <%= f.text_field %>
    </div>
    <div id="first_name_women">
      <%= f.label :first_name_women %>
      <%= f.text_field %>
    </div>
    <div id="last_name_women">
      <%= f.label :last_name_women %>
      <%= f.text_field %>
    </div>
  </div>

  <div class="address">
    <div id="address_man">
      <%= f.label :address_man %>
      <%= f.text_field %>
    </div>
    <div id="address_women">
      <%= f.label :first_name_women %>
      <%= f.text_field %>
    </div>
  </div>

  <div class="registered">
    <div id="registered_man">
      <%= f.label :registered_man %>
      <%= f.text_field %>
    </div>
    <div id="registered_women">
      <%= f.label :registered_women %>
      <%= f.text_field %>
    </div>
  </div>

  <div class="family_name">
    <div id="father_name_man">
      <%= f.label :father_name_man %>
      <%= f.text_field %>
    </div>
    <div id="mother_name_man">
      <%= f.label :mother_name_man %>
      <%= f.text_field %>
    </div>
    <div id="relationship_man">
      <%= f.label :relationship_man %>
      <%= f.text_field %>
    </div>
    <div id="father_name_women">
      <%= f.label :father_name_women %>
      <%= f.text_field %>
    </div>
    <div id="mother_name_women">
      <%= f.label :mother_name_women %>
      <%= f.text_field %>
    </div>
    <div id="relationship_women">
      <%= f.label :relationship_women %>
      <%= f.text_field %>
    </div>
  </div>

  <div class="new_registered">
    <div id="registered_man">
      <%= f.label :new_name %>
      <%= f.check_box %>
    </div>
    <div id="registered_address">
      <%= f.label :registered_address %>
      <%= f.text_field %>
    </div>
  </div>

  <div id="start_live">
    <%= f.label :start_live %>
    <%= f.date_field %>
  </div>

  <div class="first_marrige">
    <div id= "first_marrige_man">
      <%= f.label :fist_marrige %>
      <%= f.check_box %>
    </div>
    <div id= "second_marrige_man">
      <%= f.label :second_marrige %>
      <%= f.check_box %>
      <%= f.date_field %>
    </div>
    <div id= "first_marrige_women">
      <%= f.label :fist_marrige %>
      <%= f.check_box %>
    </div>
    <div id= "second_marrige_women">
      <%= f.label :second_marrige %>
      <%= f.check_box %>
      <%= f.date_field %>
    </div>
  </div>

  <div class="work">
    <div id="work_man_1">
      <%= f.check_box %>
    </div>
    <div id="work_women_1">
      <%= f.check_box %>
    </div>
    <div id="work_man_2">
      <%= f.check_box %>
    </div>
    <div id="work_women_2">
      <%= f.check_box %>
    </div><div id="work_man_3">
      <%= f.check_box %>
    </div>
    <div id="work_women_3">
      <%= f.check_box %>
    </div><div id="work_man_4">
      <%= f.check_box %>
    </div>
    <div id="work_women_4">
      <%= f.check_box %>
    </div><div id="work_man_5">
      <%= f.check_box %>
    </div>
    <div id="work_women_5">
      <%= f.check_box %>
    </div>
    <div id="work_man_6">
      <%= f.check_box %>
    </div>
    <div id="work_women_6">
      <%= f.check_box %>
    </div>
    <div id="work_man">
      <%= f.text_field %>
    </div>
    <div id="work_women">
      <%= f.text_field %>
    </div>
  </div>

  <div class="others">
    <%= f.text_field %>
  </div>

  <div class="applicant">
    <div id="applicant_man">
      <%= f.text_field %>
    </div>
    <div id="applicant_man">
      <%= f.text_field %>
    </div>
  </div>

<div class="witness_name">
    <div id="witness_first_name_man">
      <%= f.label :first_name_man %>
      <%= f.text_field %>
    </div>
    <div id="witness_last_name_man">
      <%= f.label :last_name_man %>
      <%= f.text_field %>
    </div>
    <div id="witness_first_name_women">
      <%= f.label :first_name_women %>
      <%= f.text_field %>
    </div>
    <div id="witness_last_name_women">
      <%= f.label :last_name_women %>
      <%= f.text_field %>
    </div>
  </div>

  <div class="witness_address">
    <div id="witness_address_man">
      <%= f.label :address_man %>
      <%= f.text_field %>
    </div>
    <div id="witness_address_women">
      <%= f.label :first_name_women %>
      <%= f.text_field %>
    </div>
  </div>

  <div class="witness_registered">
    <div id="witness_registered_man">
      <%= f.label :registered_man %>
      <%= f.text_field %>
    </div>
    <div id="witness_registered_women">
      <%= f.label :registered_women %>
      <%= f.text_field %>
    </div>
  </div>


<% end %>
<div id="image">
  <%= image_tag 'marrige.jpg' %>
</div>
